.sider {
	position: relative;

	.content {
		width: 100%;
		height: 100%;
		padding-bottom: 90px;

		section {
			padding-top: 124px;
		}
	}

	.add {
		position: absolute;
		bottom: 30px; right: 30px;
		z-index: 1;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);

		&.active {
			translate: 30px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&::before {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}