.cartTaxItem {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		font-size: 14px;
		margin: 4px 0;
		font-variation-settings: 'wdth' 75, 'wght' 400;
		transition: all 0.1s ease-out;

		&.taxName {
			text-transform: capitalize;
		}

		&.subtitle {
			font-size: 12px;
			color: var(--colorContentTertiary);
			font-variation-settings: 'wdth' 75, 'wght' 500;
			margin-left: 12px;
		}

		&.taxAmount {
			margin-left: auto;
		}
	}

	&.mini {
		p {
			font-size: 11px;
			margin-bottom: 0;
			color: var(--colorContentSecondary);
		}
	}
}