.cartPage {
	--checkoutHeight: 70px;

	width: 100%;
	height: 100%;

	.cartItems {
		width: 100%;
		padding-bottom: calc(var(--checkoutHeight) + 20px);

		.orderedProducts {
			.collapsibleContent {
				.itemCard:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.cartCheckout {
		position: fixed;
		left: 0; bottom: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: var(--colorBackgroundPrimary);
		box-shadow: 0 -10px 10px -10px rgb(150 150 150 / 15%);
		z-index: 3;
		transform: translateY(calc(100% - var(--checkoutHeight)));
		transition: transform 0.2s ease-out;

		.checkoutHeader {
			width: 100%;
			height: var(--checkoutHeight);
			display: flex;
			justify-content: flex-end;
			padding: 10px 20px;
			border-bottom: 1px solid var(--colorContentTertiary);

			.orderTotal {
				height: 100%;
				font-size: 16px;
				padding-top: 6px;
				font-variation-settings: 'wdth' 75, 'wght' 500;
				flex: 1;
				cursor: pointer;

				h5 {
					font-size: 23px;
					font-variation-settings: 'wdth' 75, 'wght' 500;
					margin: 0;

					> span {
						font-variation-settings: 'wdth' 75, 'wght' 300;
					}
				}
	
				> p {
					margin: 0;
					font-size: 14px;
					font-variation-settings: 'wdth' 75, 'wght' 400;
					line-height: 16px;
					user-select: none;
					color: var(--colorContentSecondary);
					text-transform: uppercase;
				}

				> span {
					user-select: none;

					&.totalValue {
						font-size: 20px;
						line-height: 24px;
						letter-spacing: 0.5px;
					}

					&.plusTaxes {
						font-size: 12px;
						font-variation-settings: 'wdth' 75, 'wght' 400;
						color: var(--colorContentSecondary);
						margin-left: -2px;
					}
				}
			}

			.cartAction {
				display: flex;
				justify-content: flex-end;
				align-items: center;
	
				.orderActionButton {
					--orderButtonPadding: 25px;
	
					height: 100%;
					font-size: 15px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 12px;
					background-color: rgb(var(--colorBrandAccentRgb));
					color: white;
					padding: 0 var(--orderButtonPadding);
					box-shadow: var(--boxShadowGlow);
					cursor: pointer;
	
					&.round {
						border-radius: 9999px;
					}
	
					@media (hover: hover) {
						&:hover {
							box-shadow: var(--boxShadowGlowHover);
						}
					}

					&:active {
						box-shadow: var(--boxShadowGlowActive);
					}
	
					p {
						margin: 0;
						font-size: 15px;
						font-variation-settings: 'wdth' 75, 'wght' 500;
						text-align: center;
						color: inherit;
						user-select: none;
						text-transform: capitalize;

						&.separator {
							width: calc(var(--orderButtonPadding) * 3 / 2);
							font-size: 20px;
							font-variation-settings: 'wdth' 75, 'wght' 300;
							opacity: 0.4;
						}
					}

					span {
						display: block;
						margin-top: 2px;
						width: 12px;
						height: 12px;
						mask-size: 12px;
						mask-repeat: no-repeat;
						mask-position: center;
						background-color: var(--colorBackgroundPrimary);
					}
				}
			}
		}

		.taxDetails {
			width: 100%;
			padding: 20px 35px;

			hr {
				border: none;
				height: 1px;
				margin: 24px 0 20px;
				background-color: var(--colorBackgroundSecondary);
				transition: all 0.15s ease-out;

				&.itemHr {
					height: 0;
					margin: 0;
					opacity: 0;
				}
			}

			.taxSummaryTitle {
				cursor: pointer;

				&:hover {
					.subtitle {
						color: var(--colorContentSecondary);
					}
				}
			}

			.taxSummary {
				opacity: 0;
				height: 0;
				transition: all 0.2s ease-out 0.05s;
				overflow: hidden;
			}

			&.show {
				.itemHr {
					height: 1px;
					margin: 24px 0 20px;
					opacity: 1;
				}

				.taxSummary {
					height: auto;
					opacity: 1;
				}
			}
		}

		&.active {
			transform: translateY(0);

			.orderTotal {
				display: flex;
				align-items: center;
			}

			.cartAction  .orderActionButton {
				width: 40px;
				height: 40px;
				padding: 0;
				border-radius: 9999px;
			}
		}
	}

	.noContent {
		position: absolute;
		top: 10px; left: 0;
		width: 100%;
		height: 100%;

		> div span {
			width: 90%;
		}
	}

	.cartApproval {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	
		.burgerLoader {
			margin-top: -180px;
	
			.cheese {
				fill: rgb(var(--colorBrandAccentRgb));
			}
		}
	
		.approvalHeading {
			margin-top: -16px;
	
			p {
				font-size: 20px;
				user-select: none;
				margin: 0;
				text-align: center;
				font-variation-settings: 'wdth' 75, 'wght' 300;
				text-transform: capitalize;
	
				&:first-child {
					font-size: 26px;
					margin-bottom: 4px;
					font-variation-settings: 'wdth' 75, 'wght' 500;
				}
			}
		}
	
		.endOrder {	
			border-color: var(--colorContentSecondary);
			margin-top: 24px;
		}
	}
}