.aboutSection {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24rem 20px 12rem 80px;

	.aboutContent {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h2 {
			width: fit-content;
			font-size: 32px;
			font-variation-settings: 'wdth' 75, 'wght' 500;
			text-transform: uppercase;
			user-select: none;
			margin-bottom: 10px;

			&::after {
				content: '';
				display: block;
				width: 40%;
				height: 5px;
				margin: 15px auto;
				background-color: hsl(var(--colorBrandPrimary));
			}
		}

		> p {
			font-size: 16px;
			font-variation-settings: 'wdth' 75, 'wght' 300;;
		}

		.aboutAction {
			width: 100%;
			display: flex;
			margin: 20px 0;
			justify-content: flex-start;
			pointer-events: all;
			gap: 16px;
		}
	}

	.aboutAnim {
		max-width: 100%;
		max-height: 100%;
		flex: 1;
		margin: 80px;
		display: flex;
		justify-content: flex-end;

		.scanMenuAnim {
			width: 100%;
			max-width: 600px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (width <= 900px) {
	.aboutSection  .aboutContent  > p {
		font-size: 14px;
	}
}

@media (width <= 800px) {
	.aboutSection {
		flex-direction: column;
		padding: 120px 20px 0;

		.aboutContent {
			width: 80%;
			align-items: center;

			> p {
				text-align: center;
			}
		}

		.aboutAction {
			justify-content: center !important;
			zoom: 0.9;

			.button:first-child {
				margin-right: 15px !important;
			}
		}

		.aboutAnim {
			margin: 80px 100px;
		}
	}
}

@media (width <= 530px) {
	.aboutSection {
		.aboutContent {
			width: 98%;

			> h2 {
				font-size: 30px;
			}
		}

		.aboutAnim {
			margin: 100px 50px;
		}
	}
}