.footerSection {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: var(--colorBackgroundPrimary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	hr {
		position: absolute;
		width: 50%;
	}

	h2 {
		position: absolute;
		background-color: var(--colorBackgroundPrimary);
		color: var(--colorContentSecondary);
		font-size: 16px;
		font-variation-settings: 'wdth' 75, 'wght' 500;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		padding: 0 20px;
		margin: 0;
	}

	p {
		position: absolute;
		font-size: 12px;
		top: 60%;
	}
}