.createProfile {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;

	&::after {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: radial-gradient(#000, transparent);
		animation: blurBackdrop 3s ease-out forwards;
	}

	.animation {
		height: 164px;
		animation: float 3s ease-in-out 4s infinite, headsUp 1s ease-in-out 3s;
	}

	.dialog {
		position: absolute;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 24px;
		opacity: 0;
		animation: showDialog 0.5s ease-in-out 3.5s forwards;
	
		.title {
			font-size: 20px;
			margin-bottom: 16px;
			text-align: center;
		}
	
		.subtitle {
			font-size: 16px;
			font-variation-settings: 'wdth' 75, 'wght' 400;
			color: var(--colorContentSecondary);
			margin: 0;
			text-align: center;
		}
	
		.controls {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 24px;
			margin: 38px 0 20px;
		}
	}

	@keyframes float {
		0% { transform: translateY(-190px); }
		50% { transform: translateY(-170px); }
		100% { transform: translateY(-190px); }
	}

	@keyframes headsUp {
		0% { transform: translateY(0); }
		100% { transform: translateY(-190px); }
	}

	@keyframes showDialog {
		0% { 
			opacity: 0; 
			scale: 0.9; 
		}

		100% { 
			opacity: 1; 
			scale: 1; 
		}
	}

	@keyframes blurBackdrop {
		0% {
			opacity: 0;
			backdrop-filter: blur(0);
		}

		100% {
			opacity: 1;
			backdrop-filter: blur(20px);
		}
	}
}