@import 'xtreme-ui/dist/style.css';
@import 'react-toastify/dist/ReactToastify.css';
@import '../utils/styles/templates/ripple';
@import '../utils/styles/templates/rupee';
@import '../utils/styles/templates/shake';

html,
body {
	width: 100vw;
	padding: 0;
	margin: 0;
	background: var(--colorBackgroundPrimary);
	overflow-x: hidden;

	* {
		font-family: var(--montserrat);
	}
}

@keyframes floatUp {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}