.header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	padding: 30px;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	z-index: 2;
	border-radius: 36px;
	overflow: hidden;

	.hamburger {
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);
	}

	.title {
		margin: 0;
		font-size: x-large;
		text-transform: uppercase;
		user-select: none;
		transition: all var(--animDurDefault) var(--cubicBezierPrimary);
	}

	&.siderOpen {
		.hamburger {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			translate: -30px;

			&::before {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		.title {
			translate: -30px;
		}
	}
}

@media (width <= 512px) {
	.header {
		padding: 24px;
	}
}