.passwordSettings {
	width: 100%;
	border-radius: 20px;
	margin-top: 30px;
	padding: 20px 30px;
	background-color: var(--colorBackgroundPrimary);
	box-shadow: 0 8px 12px rgb(150 150 150 / 15%);

	.passwordHeader {
		display: flex;
		min-height: 50px;
		justify-content: space-between;
		align-items: center;

		.heading {
			color: var(--colorContentPrimary);
			font-size: 30px;
			font-weight: 500;
			margin: 0;
			overflow: hidden;
			user-select: none;
			white-space: nowrap;
			transition: all 0.2s ease-out;

			span {
				font-weight: 300;
			}
		}

		.action {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 8px;
		}
	}

	.passwordFields {
		--inputHeight: 50px;

		position: relative;
		padding: 15px;
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;

		.textInput {
			--iconSize: var(--inputHeight);

			width: 100%;
			max-width: 600px;
			height: var(--inputHeight);
			margin: 10px;
		}
	}
}

@media (width <= 460px) {
	.passwordSettings {
		.passwordHeader .heading {
			font-size: 24px;
		}

		.passwordFields {
			padding: 10px;
		}
	}
}

@media (width <= 420px) {
	.passwordSettings {
		padding: 20px 25px;

		.passwordHeader .heading {
			font-size: 5vw;
		}
	}
}