.settingsAccount {
	position: relative;
	width: 100%;
	padding: 15px 35px 35px;
	display: flex;
	flex-direction: column;

	.profileSettingsCard {
		position: relative;
		width: 100%;
		border-radius: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--colorBackgroundPrimary);
		box-shadow: 0 8px 12px rgb(150 150 150 / 15%);
		padding: 20px 30px;

		.restaurantDetails {
			.name {
				color: var(--colorContentPrimary);
				font-size: 38px;
				font-weight: 500;
				margin: 0;
				overflow: hidden;
				user-select: none;
				white-space: nowrap;
				transition: all 0.2s ease-out;
	
				span {
					font-weight: 300;
				}
			}

			.address {
				font-size: 18px;
				font-weight: 300;
				margin: 5px 2px;
			}
		}

		.logout {
			> .icon {
				mask-size: 18px;
			}
		}
	}
}

@media (width <= 530px) {
	.settingsAccount {
		padding: 10px 25px 25px;

		.profileSettingsCard  .restaurantDetails {
			.name {
				font-size: 32px;
			} 

			.address {
				font-size: 16px;
			}
		}
	}
}

@media (width <= 460px) {
	.settingsAccount {
		.profileSettingsCard  .restaurantDetails {
			.name {
				font-size: 28px;
			} 

			.address {
				font-size: 16px;
			}
		}
	}
}

@media (width <= 420px) {
	.settingsAccount {
		.profileSettingsCard {
			padding: 20px 25px;

			.restaurantDetails {
				.name {
					font-size: 24px;
				} 

				.address {
					font-size: 14px;
				}
			}
		}
	}
}